[server]
HOST=0.0.0.0:8080

[db]
DB_DSN=username:password@tcp(127.0.0.1:3306)/dbname?charset=utf8
DB_MAX_CONNECTION=10
DB_MAX_IDLE=10

[log]
LOG_PATH=/tmp
LOG_MAX_NUMBER=10
LOG_MAX_SIZE=1000000
LOG_MAX_LEVEL=6
LOG_MIN_LEVEL=0

[cache]
REDIS_SERVER=0.0.0.0:6379
REDIS_AUTH=
REDIS_MAX_CONNECTION=10
REDIS_MAX_IDLE=10
